@import "bootstrap";
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/_reboot";

.bg-aqi-very-low {
    background-color: #79bc6a !important;
 }
 .bg-aqi-low {
    background-color: #bbcf4c !important;
 }
 .bg-aqi-medium {
    background-color: #eec20b !important;
 }
 .bg-aqi-high {
    background-color: #f29305 !important;
 }
 .bg-aqi-very-high {
    background-color: #e8416f !important;
 }